apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: url-shortener
spec:
  replicas: 2
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: ghcr.io/wo0zz1/user-service:latest
          ports:
            - containerPort: 3001
          envFrom:
            - configMapRef:
                name: common-config
          env:
            - name: PORT
              value: '3001'
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: USER_DATABASE_URL
            - name: API_GATEWAY_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-gateway-secret
                  key: API_GATEWAY_SECRET
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
