apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
  namespace: url-shortener
spec:
  replicas: 2
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
        - name: service-a
          image: ghcr.io/username/service-a:latest
          ports:
            - containerPort: 3000
          env:
            - name: DATABASE_HOST
              value: service-a-postgres
            - name: DATABASE_PORT
              value: '5432'
            - name: DATABASE_USER
              value: user
            - name: DATABASE_PASSWORD
              value: password
            - name: DATABASE_NAME
              value: service_a_db
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
