apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: url-shortener
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
          image: ghcr.io/wo0zz1/auth-service:latest
          ports:
            - containerPort: 3002
          envFrom:
            - configMapRef:
                name: common-config
          env:
            - name: PORT
              value: '3002'
            - name: DATABASE_URL
              value: 'postgresql://postgres:$(POSTGRES_PASSWORD)@postgres-auth:5432/url-shortener_auth'
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: JWT_ACCESS_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_ACCESS_SECRET
            - name: JWT_ACCESS_EXPIRES_IN
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_ACCESS_EXPIRES_IN
            - name: JWT_REFRESH_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_REFRESH_SECRET
            - name: JWT_REFRESH_EXPIRES_IN
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_REFRESH_EXPIRES_IN
            - name: API_GATEWAY_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-gateway-secret
                  key: API_GATEWAY_SECRET
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
