apiVersion: apps/v1
kind: Deployment
metadata:
  name: link-service
  namespace: url-shortener
spec:
  replicas: 2
  selector:
    matchLabels:
      app: link-service
  template:
    metadata:
      labels:
        app: link-service
    spec:
      containers:
        - name: link-service
          image: ghcr.io/wo0zz1/link-service:latest
          ports:
            - containerPort: 3003
          envFrom:
            - configMapRef:
                name: common-config
          env:
            - name: PORT
              value: '3003'
            - name: DATABASE_URL
              value: 'postgresql://postgres:$(POSTGRES_PASSWORD)@postgres-link:5432/url-shortener_link'
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-secret
                  key: POSTGRES_PASSWORD
            - name: API_GATEWAY_SECRET
              valueFrom:
                secretKeyRef:
                  name: api-gateway-secret
                  key: API_GATEWAY_SECRET
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 500m
              memory: 1Gi
